%avatar {
	overflow-x: hidden;
	display: inline-block;


}

.avatar {
	@extend %avatar;

}


.avatar.huge {
	height: 10em;
	width: 10em;
}

.avatar.large {
	height: 8em;
	width: 8em;

}

.avatar.normal {
	height: 6em;
	width: 6em;
	
}
.avatar.small {
	height: 4em;
	width: 4em;
}

.avatar.tiny {
	height: 2em;
	width: 2em;

}