@import "_text-size";
@import "colors";
@import "_sizes";


/* Placeholders */

%button{
  display:inline-block;
  cursor:pointer;
  border-radius:2px;
}

.button{
  @extend %button, .text;
  width: 100%;
  margin-bottom: 10px;
}




.button.huge {
    @include huge-text;
}

.button.large {
    @include large-text;
}

.button.normal {
    @include normal-text;
}

.button.small {
    @include small-text;
}

.button.tiny {
    @include tiny-text;
}







.xl{
  @extend %button;
  padding:15px 40px;
  font-size:$default-font-size * 1.4;
}

.l{
  @extend %button;
  padding:15px 30px;
  font-size:$default-font-size * 1.2;
}
.s{
  @extend %button;
  padding:8px 20px;
  font-size:$default-font-size * 0.9;
}
.xs{
  @extend %button;
  padding:6px 12px;
  font-size:$default-font-size * 0.8;
}

.link {
  color: $blue;
  text-decoration: underline;

}



