@import "_text-size";
@import "colors";



/* Placeholders */

%button{
  @extend .label;
  display:inline-block;
  cursor:pointer;
  border-radius:2px;
}

.button{
  @extend %button;
  width: 100%;
  margin-bottom: 10px;
}




.button.huge {
    @include huge-text;
}

.button.large {
    @include large-text;
}

.button.normal{
    @include normal-text;
}

.button.small {
    @include small-text;
}

.button.tiny {
    @include tiny-text;
}

ul {
  list-style-type: none;
}


%button-square {
  display: inline-block;
}

.button-square {
  @extend %button-square;
  margin-bottom: 5px;
}

.button-square.huge {
  @include huge-text;
}

.button-square.large{
  @include large-text;
}

.button-square.normal {
  @include normal-text;
}

.button-square.small{
  @include small-text;
}

.button-square.tiny {
  @include tiny-text;
}


