@import "_text-size";
@import "colors";



/* Placeholders */

%button{
  @extend .label;
  display:inline-block;
  cursor:pointer;
  border-radius:2px;
}

.button{
  @extend %button;
  width: 100%;
  margin-bottom: 10px;
}




.button.huge {
    @include huge-text;
}

.button.large {
    @include large-text;
}

.button.normal{
    @include normal-text;
}

.button.small {
    @include small-text;
}

.button.tiny {
    @include tiny-text;
}

#switch {
  width:260px;
  padding:15px;
  border:4px solid black;
  box-sizing:border-box;
  opacity:0.5;
  -webkit-filter:grayscale(100%);
  -webkit-transition:all 03s;
  transition:all 0.3s;
  border-radius:540px;
  cursor:pointer
}

#toggle {
  width:80px;
  height:80px;
  background:black;
  border-radius:100%;
  position:relative;
  transition:all 0.3s;
  left:0;
  -webkit-transition:all 0.3s;
}

#switch.hover #toggle {
  left:140px;
}

#switch.hover {
  -webkit-filter:none;
  opacity:1
}
