.divider {
	margin: 5px auto 5px auto;
}

.divider.huge {
	width: 100%;
}

.divider.large {
	width: 80%;

}

.divider.normal {
	width: 60%;
}

.divider.small {
	width: 40%
}

.divider.tiny {
	width: 20%;
}
