%icon {
	overflow-x: hidden;
	display: inline-block;


}

.icon {
	@extend %icon;

}

.icon.huge {
	height: 5em;
	width: 5em;
}

.icon.large {
	height: 4em;
	width: 4em;

}

.icon.normal {
	height: 3em;
	width: 3em;
	
}
.icon.small {
	height: 2em;
	width: 2em;
}

.icon.tiny {
	height: 1em;
	width: 1em;

}