%icon {
	@extend .text;

	overflow-x: hidden;
	width: 100%;

	display: inline-block;


}

.icon {
	@extend %icon;

}

.icon.huge {
	height: 15em;
	width: 15em;
}

.icon.large {
	height: 10em;
	width: 10em;

}

.icon.normal {
	height: 5em;
	width: 5em;
	
}
.icon.small {
	height: 3em;
	width: 3em;
}

.icon.tiny {
	height: 1em;
	width: 1em;

}