%image {
	@extend .text;

	overflow-x: hidden;
	width: 100%;

	display: inline-block;


}

.image {
	@extend %image;

}


.image.huge {
	height: 20em;
	width: 20em;
}

.image.large {
	height: 15em;
	width: 15em;

}

.image.normal {
	height: 10em;
	width: 10em;
	
}
.image.small {
	height: 5em;
	width: 5em;
}

.image.tiny {
	height: 3em;
	width: 3em;

}