%image {
	overflow-y: hidden;
	display: inline-block;
}

.image {
	@extend %image;

}


.image.huge.square {
	height: 15em;
	width: 15em;

}

.image.large.square {
	height: 10em;
	width: 10em;

}

.image.normal.square {
	height: 8em;
	width: 8em;

}
.image.small.square {
	height: 6em;
	width: 6em;
}

.image.tiny.square {
	height: 3em;
	width: 3em;

}

.expanded {
	@extend %image;
}

.image.huge.expanded {
	height: 100vh;
	width: 100vw;
}

.image.large.expanded {
	height: 50vh;
	width: 100vw;
}

.image.normal.expanded {
	height: 30vh;
	width: 100vw;
}

.image.small.expanded {
	height: 20vh;
	width: 100vw;
}

.image.tiny.expanded {
	height: 13vh;
	width: 100vw;
}


.image.huge {
	height: 20em;
	width: 25em;

}

.image.large {
	height: 15em;
	width: 20em;

}

.image.normal {
	height: 10em;
	width: 15em;

}
.image.small {
	height: 6em;
	width: 10em;
}

.image.tiny {
	height: 3em;
	width: 6em;

}
