@import "_text-size";
@import "colors";



%label{
  display:inline-block;
  color:$default-font-color;
  border-radius:2px;
  padding:$padding;
  margin:$margin;
  font-family:$default-font;
  font-size:$default-font-size;
}

.label{
  @extend %label;
    i{
      margin-right:10px;
    }
}

.flat-grey {
	background-color:$flat-grey;
}

nav div.label{
 margin: 10px 0 10px -4px;
  border-radius: 0px;
  border-left:1px solid rgba(0, 0, 0, 0.2);;
  &:first-of-type{
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    border:none;
  }
  &:last-of-type{
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
  }
}

