%logo {
	@extend .text;

	overflow-x: hidden;
	width: 100%;

	display: inline-block;


}

.logo {
	@extend %logo;

}

.logo.huge {
	height: 10em;
	width: 50em;
}

.logo.large {
	height: 8em;
	width: 45em;

}

.logo.normal {
	height: 5em;
	width: 30em;
	
}
.logo.small {
	height: 5em;
	width: 20em;
}

.logo.tiny {
	height: 2em;
	width: 10em;

}

