%logo {
	overflow-x: hidden;
	display: inline-block;


}

.logo {
	@extend %logo;

}

.logo.huge {
	height: 5em;
	width: 25em;
}

.logo.large {
	height: 4em;
	width: 20em;

}

.logo.normal {
	height: 3em;
	width: 15em;
	
}
.logo.small {
	height: 2em;
	width: 10em;
}

.logo.tiny {
	height: 1em;
	width: 5em;

}

