.switch.huge {
  width:260px;
  padding:15px;
  border:4px solid black;
  box-sizing:border-box;
  opacity:0.5;
  -webkit-filter:grayscale(100%);
  -webkit-transition:all 03s;
  transition:all 0.3s;
  border-radius:540px;
  cursor:pointer
}

.circle.huge {
  width:80px;
  height:80px;
  background:black;
  border-radius:100%;
  position:relative;
  transition:all 0.3s;
  left:-10px;
  -webkit-transition:all 0.3s;
}


.switch.huge.hover .circle {
    left:150px;
}



.switch.large {
  width:190px;
  height: 95px;
  padding:10px;
  border:4px solid black;
  box-sizing:border-box;
  opacity:0.5;
  -webkit-filter:grayscale(100%);
  -webkit-transition:all 03s;
  transition:all 0.3s;
  border-radius:540px;
  cursor:pointer
}

.circle.large {
  width:70px;
  height:70px;
  background:black;
  border-radius:100%;
  position:relative;
  transition:all 0.3s;
  left:-5px;
  -webkit-transition:all 0.3s;
}

.switch.large.hover .circle {
    left:95px;
}


.switch.normal {
  width:150px;
  height: 75px;
  padding:10px;
  border:4px solid black;
  box-sizing:border-box;
  opacity:0.5;
  -webkit-filter:grayscale(100%);
  -webkit-transition:all 03s;
  transition:all 0.3s;
  border-radius:540px;
  cursor:pointer
}

.circle.normal {
  width:50px;
  height:50px;
  background:black;
  border-radius:100%;
  position:relative;
  transition:all 0.3s;
  left:-5px;
  -webkit-transition:all 0.3s;
}

.switch.normal.hover .circle {
    left:75px;
}

.switch.small {
  width:85px;
  height: 46px;
  padding:6px;
  border:2px solid black;
  box-sizing:border-box;
  opacity:0.5;
  -webkit-filter:grayscale(100%);
  -webkit-transition:all 03s;
  transition:all 0.3s;
  border-radius:540px;
  cursor:pointer
}

.circle.small {
  width:30px;
  height:30px;
  background:black;
  border-radius:100%;
  position:relative;
  transition:all 0.3s;
  left:0px;
  -webkit-transition:all 0.3s;
}

.switch.small.hover .circle {
    left:40px;
}

.switch.tiny {
    width: 48px;
    height: 31px;
  padding:6px;
  border:2px solid black;
  box-sizing:border-box;
  opacity:0.5;
  -webkit-filter:grayscale(100%);
  -webkit-transition:all 03s;
  transition:all 0.3s;
  border-radius:540px;
  cursor:pointer
}

.circle.tiny {
  width:15px;
  height:15px;
  background:black;
  border-radius:100%;
  position:relative;
  transition:all 0.3s;
  left:0px;
  -webkit-transition:all 0.3s;
}

.switch.tiny.hover .circle {
    left:18px;

}




.switch.hover {
  -webkit-filter:none;
  opacity:1
}


.center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-bottom: 10px;
 } 











