/* FIX SWITCH SIZES */


.switch {
  width:260px;
  padding:15px;
  border:4px solid black;
  box-sizing:border-box;
  opacity:0.5;
  -webkit-filter:grayscale(100%);
  -webkit-transition:all 03s;
  transition:all 0.3s;
  border-radius:540px;
  cursor:pointer
}

.toggle {
  width:80px;
  height:80px;
  background:black;
  border-radius:100%;
  position:relative;
  transition:all 0.3s;
  left:0;
  -webkit-transition:all 0.3s;
}

.switch.hover .toggle {
    left:140px;
 }

 .switch.hover .toggle.large{
    left:140px;
 }

.switch.hover {
  -webkit-filter:none;
  opacity:1
}


.center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-bottom: 10px;
  } 

.switch.toggle.huge {
    width: 260px;
  }

.switch.toggle.large {
    width: 200px;
    padding: 10px;  
  }

.switch.toggle.normal {
    

}  

.switch.toggle.small {
   
}

.switch.toggle.tiny {
  
}







