.toggle {
    color: #fff;
    text-decoration: none;
    background-color: #344960;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px #12273d;
    -moz-box-shadow:0px 9px 0px #12273d;
    box-shadow: 0px 9px 0px #12273d;
    text-align: center;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.toggle:active {
    -webkit-box-shadow: 0px 3px 0px #12273d;
    -moz-box-shadow: 0px 3px 0px #12273d;
    box-shadow: 0px 3px 0px #12273d;
    position: relative;
    top: 6px;
}