@import "_text-size";
@import "label";
@import "paragraph";
@import "divider";
@import "buttons";
@import "switch";
@import "images";
@import "icons";
@import "logo";
@import "toggle";
@import "avatar";

html,{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 62.5%; 
}	

