@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import "_text-size";
@import "divider";
@import "labels";
@import "colors";
@import "mixins";
@import "sizes";
@import "buttons";
@import "paragraph";


body {
	color: black;
	font-family: 'Lato', sans-serif;
}

html {
	font-size: 24px !important;
}

#concise-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
}

.left{
  float:left;
}
.right{
  float:right;
}
.center{
  margin:0 auto;
}



/* Layout */
body{
  padding:0;
  margin:0;
  .section{
    width:1024px;
    margin:0 auto;
    text-align:center
  }
  h1{
   font-family:$default-font;
    text-transform: uppercase;
    font-size: 22px;
    color: rgb(53, 53, 53);
  }
}

.flat{
  box-shadow:none;
    &:active{
       -webkit-transform:translateY(0);
    }
}

pre{
	background: rgb(244, 244, 244);
	padding: 25px;
	border: 1px solid rgb(236, 236, 236);
	color: rgb(95, 95, 95);

}

p{
  color: rgb(95, 95, 95);
  font-size: 14px;
  font-family:$default-font;
  font-weight:light;
  margin:0 auto;
  width:800px;
  margin-bottom:10px
}

.btn.pill{
  border-radius:200px;
}

.btn.nr{
  border-radius:0px;
}
.shiny{
  position:relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}
.shiny::before{
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  position: absolute;
  right:0;
  top:0;
  border-width: 0 70px 100px 0;
  border-color: transparent rgba(255, 255, 255, 0.16) transparent transparent;
}

nav div.btn{
 margin: 10px 0 10px -4px;
  border-radius: 0px;
  border-left:1px solid rgba(0, 0, 0, 0.2);;
  &:first-of-type{
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    border:none;
  }
  &:last-of-type{
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
  }
}

nav.v{
  width:400px;
  margin:0 auto;
}
nav.v div.btn{
  margin: 0;
border-radius: 0px;
box-shadow: none;
display: block;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    &:first-of-type{
    border-top-left-radius:2px;
    border-top-right-radius:2px;
  }
  &:last-of-type{
    border-bottom-right-radius:2px;
    border-bottom-left-radius:2px;
  }
}

