@import "_text-size";


%label {
	display: inline-block;
	color: $default-font-color;
	border-radius:2px;
	padding:$padding;
	margin:$margin;
	font-family:$default-font;
  	font-size:$default-font-size;
}

.label {
	@extend %label;
	i {
		margin-right: 10px;
	}
}

.focused {
	background-color: black;
}

.test {
	background-color: black;
}